@model Blog.Models.ReviewModelWrapper
@using Blog.Models.ExtensionsMethods;

@{
    ViewBag.Title = "Гостевая";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Request.IsAuthenticated)
    {
        <div id="review-form">
            @using (Html.BeginForm("AddReview", "Guest", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.Label("Оставить отзыв", new { id = "textarea-label", @class = "main-font" })
                @Html.TextAreaFor(x => x.Review.ReviewText, new { id = "textarea-review", @class = "main-font" })<br>

                Model.Review.Author = User.Identity.Name;
                @Html.HiddenFor(x => x.Review.Author)

                Model.Review.Time = DateTime.Now;
                @Html.HiddenFor(x => x.Review.Time)
                <input class="submit-button" type="submit" value="Отправить" />
            }
        
        </div>
    }
    else
    {
        <div class="blog-elements-border">
            <h2>Отзывы</h2>
            <p>Оставлять отзывы могут только авторизованные пользователи.</p>
        </div>
    }
    <div id="reviews-container">
        @foreach (var review in Model.MainContent)
        {
            <div class="single-review">
                <p id="author-review" class="main-font">Автор: @review.Author</p>
                @foreach (var p in review.Text.SplitToParagraphs())
                {
                    <p id="text-review" class="main-font blog-text-format text-paragraph delete-gaps">@p</p>
                }
                <p id="publishindDate-review" class="main-font text-paragraph">@review.PublishingDate</p>
            </div>
        }
    </div>
</div>

